doctype html
html
    head
        include html_title.pug
        include meta.pug
        link(rel="stylesheet", href="stylesheets/style.css")

    body
        #app

        div
            .title this title
            .en EN
                a(href="www.youtube.com")

    script(src="dist/app.js")